<element>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>WareHouseStaff_Dashboard</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>InsertMessage.html</welcome-file>
    <welcome-file>InsertMessage.htm</welcome-file>
    <welcome-file>InsertMessage.jsp</welcome-file>
    <welcome-file>success.html</welcome-file>
    <welcome-file>success.htm</welcome-file>
    <welcome-file>success.jsp</welcome-file>
    <welcome-file>unsuccess.html</welcome-file>
    <welcome-file>unsuccess.htm</welcome-file>
    <welcome-file>unsuccess.jsp</welcome-file>
    <welcome-file>DeleteMessage.html</welcome-file>
    <welcome-file>DeleteMessage.htm</welcome-file>
    <welcome-file>DeleteMessage.jsp</welcome-file>
    <welcome-file>UpdateMessage.html</welcome-file>
    <welcome-file>UpdateMessage.htm</welcome-file>
    <welcome-file>UpdateMessage.jsp</welcome-file>
     <welcome-file>StaffDashboard.html</welcome-file>
    <welcome-file>StaffDashboard.htm</welcome-file>
    <welcome-file>StaffDashboard.jsp</welcome-file>
  </welcome-file-list>
   <servlet>
    <description></description>
    <display-name>InsertMessageServlet</display-name>
    <servlet-name>InsertMessageServlet</servlet-name>
    <servlet-class>Message.InsertMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertMessageServlet</servlet-name>
    <url-pattern>/InsertMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMessageServlet</display-name>
    <servlet-name>DeleteMessageServlet</servlet-name>
    <servlet-class>Message.DeleteMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMessageServlet</servlet-name>
    <url-pattern>/DeleteMessageServlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>UpdateMessageServlet</display-name>
    <servlet-name>UpdateMessageServlet</servlet-name>
    <servlet-class>Message.UpdateMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMessageServlet</servlet-name>
    <url-pattern>/UpdateMessageServlet</url-pattern>
  </servlet-mapping>
</web-app>
</element>